<div class="content">
  <div class="title">
    <div>
      <h1>Cadastro de Cursos</h1>
      <small>Cadastre os seus Cursos</small>
    </div>
    <button class="btn-right d-flex align-items-center justify-content-center" routerLink="/cursos">
      <mat-icon class="mat-18">arrow_back</mat-icon>
      Voltar para lista
    </button>
  </div>
  <div class="divider"></div>

  <section class="mat-elevation-z8 mt-4 mb-5 my-2">
    <form [formGroup]="form" (ngSubmit)="handleSubmitForm()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Preencha todas as informações</mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-3">
          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nome</mat-label>
                <input
                  matInput
                  id="name"
                  name="name"
                  formControlName="name"
                  placeholder="Informe o Nome do Curso..."
                />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Descrição</mat-label>
                <input
                  matInput
                  id="description"
                  name="description"
                  formControlName="description"
                  placeholder="Informe a Descrição..."
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Membros</mat-label>
                <input matInput id="disciplinas" name="disciplinas" formControlName="disciplinas" placeholder="Informe a disciplina..." [matAutocomplete]="disciplinasComplete" />
                <mat-autocomplete #disciplinasComplete="matAutocomplete">
                  <mat-option *ngFor="let disciplina of disciplinas" [value]="disciplina.name">
                    {{ disciplina.name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-icon matSuffix (click)="addDisciplina()">add</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-end m-1 gap-2">
          <button
            mat-retangle-button
            type="button"
            routerLink="/cursos"
            class="btn btn-secondary d-flex justify-content-center align-items-center gap-1"
          >
            <mat-icon>arrow_left</mat-icon>
            <span>Voltar</span>
          </button>
          <button
            mat-retangle-button
            type="submit"
            class="btn btn-success d-flex justify-content-center align-items-center gap-2"
          >
            <mat-icon>save</mat-icon>
            <span>Salvar</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </section>
</div>
