<nav class="navbar navbar-expand-lg bg-body-tertiary p-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="LOGOTIPO-2COR.png" alt="Logo" style="height: 60px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cursos">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/disciplina">Disciplina</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
